:root {
    --background-color: #f0f0f0;
    --sidebar-background-color: #fafafa;
    --link-hover-color: #2757C3;
    --link-inactive-color: #0d6efd;
    --text-color: #333;
    --border-color: #ccc;
    --accent: #3b3b3b;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    background-color: var(--background-color); 
}

.mast {
    display: flex;
    width: 100%;
    height: 100vh;
}

#main-content {
    flex: 1;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar {
    display: grid;
    grid-template-areas: "navbar" "side-content";
    grid-template-rows: auto 1fr;
    width: 30vw;
    background-color: #fff;
    color: var(--text-color);
    border-right: 1px solid var(--border-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#navbar {
    grid-area: navbar;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    flex-direction: row;
    font-weight: 300;
}

#tab1, #tab2 {
    color: var(--link-inactive-color);
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 3px 3px 0 0;
    margin-right: 0;
}

#tab3 {
    flex: 1;
    border-bottom: 1px solid var(--border-color);
    pointer-events: none; /* Make the third tab not clickable */
}

#tab1.active-tab, #tab2.active-tab {
    color: var(--text-color);
    background-color: var(--sidebar-background-color);
    border-bottom: 1px solid var(--sidebar-background-color);
}

#tab1:hover, #tab2:hover {
    color: var(--link-hover-color);
}

#tab1.active-tab:hover, #tab2.active-tab:hover {
    color: var(--text-color);
}

#side-content {
    background-color: var(--sidebar-background-color);
    grid-area: side-content;
    padding: 20px;
}

h2 {
    border-bottom: 1px solid var(--border-color);
    margin: 0 0 10px;
}

.table-container {
    max-height: 60vh;
    overflow-y: auto;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: left;
    font-weight: 300;
}

th {
    background: var(--accent);
    color: white;
    top: 0;
    position: sticky; 
}

td {
    border-top: 1px solid #ddd;
}

tr:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.highlight {
    background-color: lightgray !important;
}

.triangle {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

.median {
    stroke-width: 1px;
}

.circle {
    fill-opacity: 0.3;
    stroke-width: 2px;
    cursor: pointer;
}

.text {
    font-size: 12px;
}

.circle.highlight {
    stroke: #FFD700;
}

svg {
    display: block
    margin: auto;
}
